@using DatingApp.Models
@model DatingApp.Models.ProfileViewModels.ProfileIndexViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit profile</h2>

@using (Html.BeginForm("Edit", "Profile", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <p style="color: red">@ViewBag.ErrorMessage</p>


    <div class="form-group">
        @Html.LabelFor(m => m.Image, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            <input type="file" name="file" accept=".png,.jpg,.jpeg" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Age, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Gender, new SelectList(Enum.GetValues(typeof(Gender))), "Select gender")
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Biography, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Biography, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CSharp, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.EditorFor(m => m.CSharp, new { htmlAttributes = new { @class = "custom-range", @type = "range", @min = "0", @max = "10", @id = "desp" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.JavaScript, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.EditorFor(m => m.JavaScript, new { htmlAttributes = new { @class = "custom-range", @type = "range", @min = "0", @max = "10", @id = "desp" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.StackOverflow, new { @class = "col-md-2 control-label" })

        <div class="col-md-10">
            @Html.EditorFor(m => m.StackOverflow, new { htmlAttributes = new { @class = "custom-range", @type = "range", @min = "0", @max = "10", @id = "desp" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Save changes" />
        </div>
    </div>
}
