@model DatingApp.Models.ProfileViewModels.ProfileIndexViewModel

@{
    ViewBag.Title = Model.Name + "'s profile";

}

<div class="m-top">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <img src="@Url.Content(Model.Image)" alt="Image" class="img-thumbnail profile-image" />
                <h1 class="panel-title" id="profile-name-space">@Html.DisplayFor((m) => m.Name)</h1>
            </div>
            <div class="panel-body text-center">
                <table class="table table-responsive">
                    <tr>
                        <td>@Html.LabelFor(m => m.Age, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td><p>@Html.DisplayFor((m) => m.Age, new { @class = "control-label col-md-8" })</p></td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.Gender, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td><p>@Html.DisplayFor((m) => m.Gender, new { @class = "control-label col-md-8" })</p></td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.Biography, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td><em>@Html.DisplayFor((m) => m.Biography, new { @class = "control-label col-md-8" })</em></td>
                    </tr>
                    <tr>
                        <td class="col-md-2">@Html.LabelFor(m => m.CSharp, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td class="col-md-10">
                            <div class="progress" id="csharp-progress">
                                <div class="progress-bar" id="progress-bar-csharp" data-value="@Model.CSharp"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">@Html.LabelFor(m => m.JavaScript, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td class="col-md-10">
                            <div class="progress" id="javascript-progress">
                                <div class="progress-bar" id="progress-bar-javascript" data-value="@Model.JavaScript"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2">@Html.LabelFor(m => m.StackOverflow, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td class="col-md-10">
                            <div class="progress" id="stackoverflow-progress">
                                <div class="progress-bar" id="progress-bar-stackoverflow" data-value="@Model.StackOverflow"></div>
                            </div>
                        </td>
                    </tr>
                </table>
                <hr />
                <h4 id="percentage-description">Your match percentage is:</h4>
                <h2 id="percentage-label"></h2>
                <input type="button"
                       id="match-button"
                       value="Get match %"
                       class="btn btn-success"
                       onclick="displayMatchPercentage(@Model.Id)" />

            </div>
        </div>
    </div>
</div>

<div class="m-top">
    <div class="col-sm-8">
        @Html.Partial("~/Views/Post/Index.cshtml")
    </div>
</div>

@Scripts.Render("~/bundles/profile")
@Scripts.Render("~/bundles/profiles")
